@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playpen+Sans:wght@100..800&family=Science+Gothic:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

header img{
    width: 100%;
    
}
body{
    background-color: #ff977b;
}

h3{
    margin-left: 20px;
}

p{
    margin-left: 50px;
    font-size: 30px;
    text-align: center;
}

#livre{
    width: 40%;
    margin-left: 2%;
    margin-top: 2%;
}

#btns{
    display: flex;
    align-items: center;
}

#Conteudo{
    display: flex;
    align-items: center;
}

#sobre{
 margin-top: 4%;
}

#home{
    padding: 15px 30px;
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 15px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: -10deg;
    font-family: Pacifico;
    border-radius: 2px;
    
}

#atvCasa{
    padding: 15px 30px;
    background-color: #ff9900;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 15px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: 10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#atvLivre{
    padding: 15px 30px;
    background-color: #fffb00;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: -10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#cal{
    padding: 15px 30px;
    background-color: #51ff00;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 15px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: 10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#info{
    padding: 15px 30px;
    background-color: #0066ff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 15px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: -10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#feed{
    padding: 15px 30px;
    background-color: #8400ff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 15px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: 10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#home:hover, #atvCasa:hover, #cal:hover, #info:hover, #feed:hover {
    rotate: 0deg;
    font-family: Playpen Sans;
}

#atvLivre:hover {
    rotate: 0deg;
}

footer{
    background-color: antiquewhite;
    padding: 10px;
    margin-top: 3%;
}

#ex1{
    color: #ff6300;
}
#copo{
    width: 45%;
    margin: 3%;
    margin-left: 27%;
}
#ex2{
    color: #e80000;
}
#piknik{
    width: 45%;
    margin: 3%;
    margin-left: 27%;
}
#ex3{
    color: #15cf43;
}
#giz{
    width: 40%;
    margin: 3%;
    margin-left: 30%;
}
#ex4{
    color: #8802cf;
}
#agua{
    width: 40%;
    margin: 3%;
    margin-left: 30%;
}
#ex5{
    color: #5170ff;
}