@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playpen+Sans:wght@100..800&family=Science+Gothic:wght@100..900&display=swap');



*{
    margin: 0;
    padding: 0;
}

header img{
    width: 100%;
    
    
}
body{
    background-image: url(./imagens/fundoClaro.png);
}

h3{
    margin-left: 20px;
}

#criadores{
    width: 25%;
    margin-left: 2%;
    margin-top: 2%;
}

#btns{
    display: flex;
    align-items: center;
}

#Conteudo {
    margin-top: 2%;
    text-align: center;
    font-size: 30px;
}

#ajuda{
    width: 60%;
    margin-top: 1%;
    margin-bottom: 5%;
}

#sobre{
 margin-top: 4%;
}

#home{
    padding: 15px 30px;
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: -10deg;
    font-family: Pacifico;
    border-radius: 2px;
}

#atvCasa{
    padding: 15px 30px;
    background-color: #ff9900;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: 10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#atvLivre{
    padding: 15px 30px;
    background-color: #fffb00;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: -10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#cal{
    padding: 15px 30px;
    background-color: #51ff00;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: 10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#info{
    padding: 15px 30px;
    background-color: #0066ff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 25px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: -10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#feed{
    padding: 15px 30px;
    background-color: #8400ff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: 10deg;
       font-family: Pacifico;
    border-radius: 2px;
}

#home:hover, #atvCasa:hover, #cal:hover, #atvLivre:hover, #feed:hover {
    rotate: 0deg;
    font-family: Playpen Sans;
}

#info:hover {
    rotate: 0deg;
}

footer a{
    display: flex;
    text-decoration: none;
    color: black;
}

footer a h2{
    margin-top: 1.5%;
    
}

footer{
    background-color: rgb(243, 214, 175);
    padding: 10px;
    margin-top: 15px;

}

#foter{
    display: flex;
    align-items: center;
}

#insta{
width: 5%;
}

#whatts{
width: 5.5%;
}