
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #5171ffab;
    padding-bottom: 10px;
    display: flex
}

header img{
    width: 250px;
    padding-top: 20px;
    margin-left: 40px;
}
body{
    background-color: #ecfdf9;
}

button{
    padding: 10%;
    border-radius: 20px;
    background-color: #5170FF;
    cursor: pointer;
    margin-top: 20px;
    font-size: 40px;
}

#atv{
    margin-left: 8%;
}

#cal{
    margin-left: 10%;
}

#home{
    margin-left: 10%;
}