
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
}

header img{
    width: 100%;
    
}
body{
    background-color: #ff977b;
}

#quem{
    width: 35%;
    margin-left: 2%;
}

#btns{
    display: flex;
    align-items: center;
}


#home{
    padding: 15px 30px;
    border-radius: 20px;
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 24px;
    border: none;
    transition: 0.3s;
}