
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #5170ff;
    padding-bottom: 10px;
    display: flex
}

header img{
    width: 150px;
    padding-top: 20px;
    margin-left: 30px;
}
body{
    background-color: #ecfdf9;
}

header a{
    font-size: 20px;
    color: black;
}