
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
}

header img{
    width: 100%;
    
}
body{
    background-color: #ff977b;
}

#quem{
    width: 35%;
    margin-left: 2%;
}

#btns{
    display: flex;
    align-items: center;
    ;
}


#home{
    padding: 15px 30px;
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 24px;
    border: none;
    transition: 0.3s;
    margin-left: 2%;
}

#atvCasa{
    padding: 5px 10px;
    background-color: #ff7f00;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 15px;
    border: none;
    transition: 0.3s;
    margin-left: 10%;
}

#atvLivre{
    padding: 5px 10px;
    background-color: #ffff00;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 15px;
    border: none;
    transition: 0.3s;
    margin-left: 11%;
}

#cal{
    padding: 5px 10px;
    background-color: #00ff00;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 15px;
    border: none;
    transition: 0.3s;
    margin-left: 12%;
}

#info{
    padding: 5px 10px;
    background-color: #0000ff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 15px;
    border: none;
    transition: 0.3s;
    margin-left: 30%;
}

#feed{
    padding: 5px 10px;
    background-color: #8b00ff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 15px;
    border: none;
    transition: 0.3s;
    margin-left: 50%;
}