@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playpen+Sans:wght@100..800&family=Science+Gothic:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

header img{
    width: 100%;
    
}
body{
    background-image: url(../../assets/imagens/fundoClaro.png);
}

h3{
    margin-left: 20px;
}

p{
    margin-left: 50px;
    font-size: 30px;
    text-align: center;
}

div p{
    text-align: left;
    margin-left: 0%;
    font-size: 17px;
}

#casa{
    width: 35%;
    margin-left: 2%;
    margin-top: 2%;
}

#btns{
    display: flex;
    align-items: center;
}

#Conteudo{
    display: flex;
    align-items: center;
}

#sobre{
 margin-top: 4%;
}

#home{
    padding: 15px 30px;
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: 10deg;
    font-family: Pacifico;
    border-radius: 2px;
}

#atvCasa{
    padding: 15px 30px;
    background-color: #ff9900;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 25px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: -10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#atvLivre{
    padding: 15px 30px;
    background-color: #fffb00;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: 10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#cal{
    padding: 15px 30px;
    background-color: #51ff00;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: -10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#info{
    padding: 15px 30px;
    background-color: #0066ff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: 10deg;
       font-family: Pacifico;
       border-radius: 2px;
       
}

#feed{
    padding: 15px 30px;
    background-color: #8400ff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: -10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#home:hover, #atvLivre:hover, #cal:hover, #info:hover, #feed:hover {
    rotate: 0deg;
    font-family: Playpen Sans;
}

#atvCasa:hover {
    rotate: 0deg;
}

footer a{
    display: flex;
    text-decoration: none;
    color: black;
}

footer a h2{
    margin-top: 1.5%;
    
}

footer{
    background-color: rgb(243, 214, 175);
    padding: 10px;
    margin-top: 15px;

}

#foter{
    display: flex;
    align-items: center;
}

#insta{
width: 5%;
}

#whatts{
width: 5.5%;
}

#ex1{
    color: #e80000;
}
#cineminha{
    width: 45%;
    margin: 3%;
    margin-left: 27%;
}
#ex2{
    color: #15cf43;
}
#jogo{
    width: 45%;
    margin: 3%;
    margin-left: 27%;
}
#ex3{
    color: #8802cf;
}
#cozinha{
    width: 40%;
    margin: 3%;
    margin-left: 30%;
}
#ex4{
    color: #5170ff;
}
#oficina{
    width: 40%;
    margin: 3%;
    margin-left: 30%;
}
#ex5{
    color: #ffd902;
}

#leitura{
    width: 40%;
    margin: 3%;
    margin-left: 30%;

}

#tesouro{
    width: 40%;
    margin: 3%;
    margin-left: 24%;

}

#ex6{
    color: #fc7100;
}

#quebra-cabeça{
    width: 40%;
    margin: 3%;
    margin-left: 30%;

}

#ex7{
    color: #e80000;

}

#ex8{
    color: #15cf43;

}

#reciclavel{
    width: 40%;
    margin: 3%;
    margin-left: 25%;

}

#album{
    width: 40%;
    margin: 3%;
    margin-left: 25%;

}

#ex9{
    color: #8802cf;

}

#roupa{
    width: 40%;
    margin: 3%;
    margin-left: 30%;

}

#ex10{
    color: #5170ff;

}

#teatro{
    width: 40%;
    margin: 3%;
    margin-left: 30%;

}

#ex11{
    color: #ffd902;
}

#alubum{
    width: 30%;
    margin-bottom: 2%;
}

#reciliclavel{
    width: 20%;
    margin-bottom: 2%;
}

#tesouroo{
    width: 30%;
    margin-bottom: 2%;
}

@media (max-width: 412px){

header img{
    width: 100%;
}

    #home{
    padding: 5px 10px;
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 5px;
    border: none;
    transition: 0.3s;
    margin-left: 16px;
    rotate: 10deg;
    font-family: Pacifico;
    border-radius: 2px;
    
}

#atvCasa{
    padding: 5px 10px;
    background-color: #ff9900;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 7px;
    border: none;
    transition: 0.3s;
    margin-left: 16px;
    rotate: -10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#atvLivre{
    padding: 5px 10px;
    background-color: #fffb00;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 5px;
    border: none;
    transition: 0.3s;
    margin-left: 16px;
    rotate: 10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#cal{
    padding: 5px 10px;
    background-color: #51ff00;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 5px;
    border: none;
    transition: 0.3s;
    margin-left: 16px;
    rotate: -10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#info{
    padding: 5px 10px;
    background-color: #0066ff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 5px;
    border: none;
    transition: 0.3s;
    margin-left: 16px;
    rotate: 10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#feed{
    padding: 5px 10px;
    background-color: #8400ff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 5px;
    border: none;
    transition: 0.3s;
    margin-left: 16px;
    rotate: -10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

p{
    margin-left: 10px;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
}

footer a{
    display: flex;
    
}

footer a h2{
    margin-top: 1.5%;
    text-decoration: none;
    color: black;
}

footer{
    background-color: rgb(243, 214, 175);
    padding: 10px;
    margin-top: 10px;

}

#insta{
width: 13%;
}

#whatts{
width: 15.5%;
}
}
