@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playpen+Sans:wght@100..800&family=Science+Gothic:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

header img{
    width: 100%;
    
}
body{
    background-image: url(../../assets/imagens/fundoClaro.png);
}

h3{
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 30px;
}

#quem{
    width: 15%;
    margin-left: 2%;
    margin-top: 2%;
}

#btns{
    display: flex;
    align-items: center;
    
}

#Conteudo{
    display: flex;
    align-items: center;
}


#sobre{
 margin-top: 4%;
}

#home{
    padding: 15px 30px;
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: 10deg;
    font-family: Pacifico;
    border-radius: 2px;
}

#atvCasa{
    padding: 15px 30px;
    background-color: #ff9900;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: -10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#atvLivre{
    padding: 15px 30px;
    background-color: #fffb00;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: 10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#cal{
    padding: 15px 30px;
    background-color: #51ff00;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: -10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#info{
    padding: 15px 30px;
    background-color: #0066ff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: 10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#feed{
    padding: 15px 30px;
    background-color: #8400ff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 25px;
    border: none;
    transition: 0.3s;
    margin-left: 60px;
    rotate: -10deg;
       font-family: Pacifico;
       border-radius: 2px;
}

#home:hover, #atvLivre:hover, #atvCasa:hover, #info:hover, #cal:hover {
    rotate: 0deg;
    font-family: Playpen Sans;
}

#feed:hover {
    rotate: 0deg;
    font-family: Playpen Sans;
}